/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/

/* 01 - RESET STYLES */
/* 02 - GLOBAL SETTINGS */
/* 03 - POPUPS */
/* 04 - SWIPER */
/* 05 - HEADER */
/* 06 - FOOTER */
/* 07 - CATEGORIES MENU */
/* 08 - HOMEPAGE */
/* 09 - PRODUCTS */
/* 10 - PRODUCT */
/* 11 - PRODUCT SHORTCODES */
/* 12 - BANNER SHORTCODES */
/* 13 - BLOG SHORTCODES */
/* 14 - TABULATION */
/* 15 - ICON DESCRIPTION SHORTCODES */
/* 16 - MASONRY */
/* 17 - HOMEPAGE */
/* 18 - CONTACTS */
/* 19 - CHECKOUT */
/* 20 - CART */
/* 21 - BLOG DETAIL */
/* 22 - MEDIA QUERIES */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
body{
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d2d2f;
}
.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
}
a, .btn-link{
  color: #19a1df;
  text-decoration: none;
}
a:hover, .btn-link:hover{
  color: #1479a7;
  text-decoration: none;
}
ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1{
  font-size: 32px;
  font-weight: 700;
}
h2{
  font-size: 28px;
  font-weight: 700;
}
h3{
  font-size: 24px;
  font-weight: 700;
}
h4{
  font-size: 20px;
  font-weight: 700;
}
.text-default{
  color:  #2d2d2f;
}
.text-white{
  color: #fff;
}
.text-grey{
  color: #999;
}
.text-red{
  color: #d2120c;
}
.text-green{
  color: #00b601;
}
.text-blue{
  color: #19a1df;
}

.bg-grey{
  background-color: #f2f2f2;
}

.divider{
  display: block;
  border-top: 1px solid #cccccc;
}

.valign-middle{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.btn-primary{
  background-color: #00b601;
  border-color: #00b601;
  border-bottom: 5px solid #009800;
}
.btn-primary:hover{
  background-color: #009800;
  border-color: #009800;
}
.btn-secondary{
  background-color: #d2120c;
  border-color: #d2120c;
}
.btn-secondary:hover{
  background-color: #d2120c;
  border-color: #d2120c;
}
.btn-pagination{
  line-height: 28px;
  height: 40px;
  display: inline-block;
  border: 1px #eee solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  color: #888;
  text-align: center;
  margin: 0 3px 3px 3px;
  transition: all .15s;
  -webkit-transition: all .15s;
  position: relative;
}
.btn-pagination:hover{
  background-color: #f3f3f3;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.btn-white:hover{
  background-color: #f3f3f3;
}
.btn-dark{
  background-color: #000;
  border-color: #000;
}
.btn-dark:hover{

}
.btn-grey{
  background-color: #2e2c2d;
  border-color: #2e2c2d;
  color: #fff;
}
.btn-grey:hover{
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #333;
}
.btn-light{
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #19a1df;
}
.btn-light:hover{
  background-color: #efefef;
  border-color: #efefef;
  color: #19a1df;
}

.label {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #d2120c;
  color: #fff;
  padding: 10px;
  position: absolute;
  text-align: right;
  z-index: 1;
}
.readmore, .readmore-link{
  position: relative;
  padding-left: 15px;
}
.readmore-link{
  color: #19a1df !important;
}
.readmore:before, .readmore-link:before{
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 2px solid #19a1df;
  border-top: none;
  border-left: none;
  content: '';
  height: 6px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 6px;
  left: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #00b601;
    padding: 15px 15px;
}

/*========================== FLAG CSS =================================*/
.flag-icon,
.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}
.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em
}
.flag-icon:before {
    content: "\00a0"
}
.flag-icon.flag-icon-squared {
    width: 1em
}
.flag-icon-be {
    background-image: url(https://www.artencraft.be/images/css/flags/4x3/be.svg)
}
.flag-icon-be.flag-icon-squared {
    background-image: url(https://www.artencraft.be/images/css/flags/1x1/be.svg)
}
.flag-icon-nl {
    background-image: url(https://www.artencraft.be/images/css/flags/4x3/nl.svg)
}
.flag-icon-nl.flag-icon-squared {
    background-image: url(https://www.artencraft.be/images/css/flags/1x1/nl.svg)
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - POPUPS */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - SWIPER */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - HEADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}
/* The side navigation menu */
.main-nav {
  background-color: #ffffff;
  max-width: 420px;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  display: none;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 9;
  overflow-y: scroll;
}

/* The navigation menu links */
.main-nav > .navigation > ul > li > a {
  padding: 10px 30px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #2d2d2f;
}
.main-nav > .navigation > ul > li > a:hover{
  color: #d2120c;
}

/* When you mouse over the navigation links, change their color */
.main-nav > .navigation > ul > li:hover {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-nav .navigation{
  position: relative;
}
.main-nav .submenu h5{
  color: #d2120c;
  font-weight: 700;
}
.main-nav .submenu li{
  padding: 5px 0 0;
  word-wrap: break-word;
}
.main-nav .submenu{
  -webkit-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 800px;
  left: calc(100% - 8px);
  z-index: 8;
  background-color: #fff;
}
.main-nav .submenu a{
  color: #2d2d2f;
  font-size: 14px;
}
.main-nav .submenu a:hover{
  color: #d2120c;
}

/* Position and style the close button (top right corner) */
.main-nav .closebtn {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 30px;
  padding: 10px 30px;
  text-decoration: none;
  color: #888;
  display: block;
  transition: 0.3s;
}

#body-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 7;
}

.navImgContainer {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.navImg {
  display: block;
  width: 100%;
  height: auto;
}

.navImgOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a1a1a;
  opacity: .9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.navImgContainer:hover .navImgOverlay {
  width: 100%;
}

.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .main-nav {padding-top: 15px;}
  .main-nav a {font-size: 18px;}
}

header .top{
  background-color: #000;
}
header .top .logo img{
  width: 100%;
}
header .bottom{
  background-color: #f2f2f2;
}

nav.nav-right ul li{
  display: inline-block;
}
@media screen and (max-width:991px){
  nav.nav-right .dropdown-toggle::after{
    display: none;
  }
}

/*======================== BREADCRUMB CSS ===============================*/
ul.breadcrumb{
  background-color: #fff;
  padding: 10px 0;
}
ul.breadcrumb li{
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 10px;
}
ul.breadcrumb li:before{
  content: '' !important;
}
ul.breadcrumb li i.fa-chevron-right{
  padding-right: 10px;
  font-size: 10px;
  vertical-align: middle;
}
ul.breadcrumb li:first-child:before{
  padding: 0;
}
ul.breadcrumb li.active a{
  color: #2d2d2f;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/

footer .top{
  background-color: #000;
}
footer .top h4{
  color: #fff;
  padding-bottom: 10px;
}
footer .top .social-media ul li{
  display: inline-block;
}
footer nav.navigation-footer ul li{
  padding: 0 0 5px;
}
footer nav.navigation-footer ul li a{
  color: #fff;
  display: block;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
footer nav.navigation-footer ul li a:before {
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  content: '';
  height: 6px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 6px;
  left: 0;
}
footer nav.navigation-footer ul li a.readmore:before {
  border: 2px solid #d2120c;
  border-top: none;
  border-left: none;
}
footer .bottom{
  text-align: center;
}
footer .bottom .payment-methods li{
  display: inline-block;
  padding: 0 5px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - CATEGORIES MENU */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.cat-prod-img .label{
  right: 5px;
}
.category-products .prod-name{
  height: 40px;
  font-weight: bold;
}
.category-products .prod-price{
  font-size: 20px;
  font-weight: bold;
}
.cat-news-details span{
  height: 70px;
  overflow-y: hidden;
}

.category-listing-header p{
  display: block;
}
.category-filter .filter-header a,
.category-leftnav .leftnav-header a{
  color: #2d2d2f;
}
.category-filter .filter-header a i{
  font-size: 12px;
  float: right;
  padding: 5px 0;
}
.category-filter .filter-entry{
  padding: 10px;
}
.category-leftnav .leftnav-list{
  padding: 10px 0;
}
.category-filter .filter-entry ul{
  position: relative;
}
.category-filter .filter-entry ul li{
}
.category-filter .filter-entry ul li.more{
  display: none;
}
.category-leftnav,
.category-filter{
  font-size: 16px;
}
.category-leftnav .leftnav-list ul{
  margin-left: 15px;
}
.category-leftnav .leftnav-list ul li{
  padding-bottom: 5px;
}
.category-leftnav .leftnav-list ul li a{
  color: #2e2c2d;
}
.category-leftnav .leftnav-list ul li i{
  color: #d2120c;
  float: right;
  padding-right: 20px;
  display: none;
}
.category-leftnav .leftnav-list ul li.active>a{
  display: block;
  font-weight: 700;
  padding-bottom: 10px;
}
.selected-filters ul li.remove-filters,
.selected-filters ul li.filter-item{
  display: inline-block;
}
.selected-filters ul li.remove-filters a,
.selected-filters ul li.filter-item a{
    display: inline-block;
    font-size: 14px;
    padding: 2px 10px;
    margin-right: 2px;
    margin-bottom: 5px;
}
.selected-filters ul li.filter-item a{
  color: #2d2d2f;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.selected-filters ul li.filter-item a:hover{
  background-color: #f3f3f3;
}
.selected-filters ul li.filter-item a:hover i{
  color: #d2120c;
}
.selected-filters ul li i{
  font-size: 10px;
}
@media(max-width: 991px){
  .category-listing-header p{
    display: none;
  }
  /* Mobile Category Filter */
  #category-filter {
    background-color: #ffffff;
    max-width: 420px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    display: none;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 9;
    overflow-y: scroll;
  }
  #category-filter>div{
    padding: 20px;
  }
  #category-filter .mobile-header{
    background-color: #2e2c2d;
    color: #ffffff;
    padding: 20px;
  }
  #category-filter .mobile-header span{
    font-size: 18px;
    font-weight: 700;
  }
  #category-filter .mobile-header .closebtn{
    float: right;
    color: #ffffff;
    font-size: 28px;
  }
  #catfilter-trigger,
  #category-filter .mobile-header{
    display: block;
  }
  .category-leftnav .leftnav-list ul {
    margin-left: 0;
  }
  .category-leftnav .leftnav-list ul li {
    padding: 15px 0;
    border-top: 1px solid #ccc;;
  }
  .category-leftnav .leftnav-list ul li a{
    padding: 0 15px;
  }
  .category-leftnav .leftnav-list ul li i{
    display: inline-block;
  }
}
@media(min-width: 992px){
  #category-filter{
    display: block !important;
    width: 100% !important;
  }
  #catfilter-trigger,
  #category-filter .mobile-header{
    display: none;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - HOMEPAGE */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - PRODUCTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
div.product-review ul.star-rating,
div.product-review ul.star-rating li,
div.product-review .reviews-link{
  display: inline-block;
  vertical-align: middle;
}
div.product-review ul.star-rating li i{
  background-color: #00b601;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
}
div.product-review ul.star-rating li i.light{
  background-color: #ccc;
}
div.product-review ul,
div.product-review strong,
div.product-review span,
div.product-review a{
  vertical-align: middle;
}
div.product-review span{
  border-left: 1px solid #ccc;
}
div.gallery{
  position: relative;
}

div.label-overview .label{
  background-color: #009fe3;
  display: block;
  margin-bottom: 10px;
  position: relative;
  color: #fff;
  padding: 10px 15px 15px;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  z-index: 1;
  min-width: 180px;
  position: absolute;
  left: -10px;
  top: 20px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
div.label-overview .label small{
  display: block;
  font-size: 16px;
  font-weight: 700;
}
#prodCarousel{
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  display: block;
  position: relative;
  padding: 25px;
  width: 100%;
}
.carousel {
  margin-top: 20px;
}
.carousel-item .thumb {
  width: 15%;
  cursor: pointer;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: .8%;
}
.carousel-item .thumb:hover,
.carousel-item .thumb.active{
  border: 1px solid #000;
}
.carousel-item .thumb img {
	width: 100%;
	padding: 10px 5px;
}
.carousel-item img {
	width: 100%;
}

.price-block .price{
  font-size: 36px;
  font-weight: 900;
}
.price-block .price span{
  font-size: 24px;
}
.discount-info{
  border-left: 5px solid #ff9a00;
}

.product-info-links ul li{
  display: inline-block;
  padding: 0 10px;
}
.faqs ol li{
  list-style: decimal;
}

.product-expert .expert-img img{
  width: 100%;
  border-radius: 50%;
}

.morecontent {
  display: none;
}

.product-bundels .bundel-prod:before{
  content: '\f055';
  font-size: 24px;
  position: absolute;
  left: -12px;
  top: 75px;
}
.product-bundels .bundel-prod:first-child:before{
  content: '';
}
.product-bundels .bundel-prod img{
  width: 100%;
}
.product-bundels .bundel-prod a.btn{
  font-family: 'Source Sans Pro', sans-serif;
}

.product-related .rel-prod img{
  width: 100%;
}

.swogo-invisible{
  display: none;
}
.swogo-product-images-container {
  height: 120px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  position: relative;
}
.swogo-product-image {
  max-width: 100%;
  max-height: 100%;
}
.swogo-title{
  height: 34px;
  line-height: 17px;
  overflow: hidden;
  text-align: center;
}
.swogo-price{
  text-align: center;
  font-weight: 700;
}
.swogo-summary{
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 10px 20px;
  text-align: right;
}
.swogo-summary.last{
  border-bottom: none;
}
.swogo-summary .swogo-summary-info-container,
.swogo-summary .swogo-buttons-container{
  display: inline-block;
}
.swogo-summary .swogo-summary-info,
.swogo-summary .swogo-price{
  font-size: 24px;
  font-weight: 700;
  padding-right: 10px;
}

div.customer-reviews .progress{
  margin: 5px 0;
}
div.customer-reviews .progress-bar{
  background-color: #00b601;
}

div.accessories .acc-img img{
  width: 100%;
}
div.accessories .acc-title a{
  color: #2d2d2f;
  font-size: 18px;
  font-weight: 700;
}
div.accessories .acc-title a:hover{
  color: #d2120c;
}
div.accessories .price-block .price{
  font-size: 24px;
}

div.related-items h3{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
}
div.related-items .item-image img{
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  outline: none;
  z-index: 1;
}
div.related-items .item-title{
  height: 34px;
  line-height: 17px;
  font-size: 18px;
  font-weight: 700;
  color: #2d2d2f;
  margin-top: 20px;
  overflow: hidden;
}
div.related-items .item-title:hover{
  color: #d2120c;
}
div.related-items .item-price{
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
div.related-items .label{
  font-weight: 600;
  left: auto;
  right: 5px;
  top: 15%;
  z-index: 1;
}

div.product-bottom > .row{
  border: 1px solid #ccc;
  margin: 0;
}
div.product-bottom .prod-bottom-img-container{
  border-right: 1px solid #ccc;
}
div.product-bottom .price-block{
  background-color: #f2f2f2;
  padding: 30px 20px;
}
div.product-bottom .price-block .stock-data{
  float: left;
}
div.product-bottom .price-block .add-to-cart{
  float: right;
}

.carousel .carousel-item a.btn{
  position: absolute;
  bottom: 15px;
  right: 10px;
}


/*jQuery UI Styles */

.ui-slider {
  position: relative;
  height: 6px;
  background: #f7f7f7;
  margin-right: 12px;
  margin-bottom: 15px;
  border-radius: 3px;
  -webkit-border-radius: 2px;
}

.ui-slider-range {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #00b601;
}

.ui-slider-handle {
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: -3px;
  cursor: pointer;
  border: 3px #00b601 solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/**/

.pagination-wrapper {
  font-size: 0;
}

.pagination {
  width: 40px;
  line-height: 38px;
  height: 40px;
  display: inline-block;
  border: 1px #eee solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: bottom;
  font-size: 14px;
  color: #888;
  text-align: center;
  margin: 0 3px 3px 3px;
  transition: all .15s;
  -webkit-transition: all .15s;
  position: relative;
}

.pagination-wrapper:after {
  display: block;
  content: "";
  margin-top: -3px;
  content: "";
}

a.pagination:hover {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  background-color: #f3f3f3;
}

a.pagination.active {
  background-color: #00b601;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  color: #fff;
}

span.pagination {
  border: none;
}

.pagination img {
  display: block;
  transition: all .15s;
  -webkit-transition: all .15s;
}

.pagination img:last-child {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}

.pagination.active img {
  opacity: 0;
}

.pagination.active img:last-child {
  opacity: 1;
}

/**/

.filtration-cell-width-1 {
  width: 210px;
}

.filtration-cell-width-2 {
  width: 110px;
}

.filtration-cell-width-1 .SumoSelect, .filtration-cell-width-2 .SumoSelect {
  display: block;
}

/*Phones (<768px)*/

@media (max-width: 767px) {
  .filtration-cell-width-1 {
    width: auto;
    display: block;
    margin-right: 0 !important;
  }
  .filtration-cell-width-2 {
    width: auto;
    display: block;
    margin-right: 0 !important;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 10 - PRODUCT */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.rate-wrapper {
  color: #00b601;
  font-size: 14px;
  line-height: 20px;
  margin: 0 5px;
}

.rate-wrapper.set:hover .fa {
  opacity: .5;
}

.rate-wrapper.set .fa:hover {
  opacity: 1;
  cursor: pointer;
}

.quantity-select {
  height: 42px;
  line-height: 40px;
  border-radius: 21px;
  -webkit-border-radius: 21px;
  border: 1px #eee solid;
  width: 200px;
  position: relative;
}

.quantity-select .minus, .quantity-select .plus {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border-right: 1px #eee solid;
  cursor: pointer;
  border-radius: 21px 0 0 21px;
  -webkit-border-radius: 21px 0 0 21px;
  transition: all .15s;
  -webkit-transition: all .15s;
}

.quantity-select .minus:hover, .quantity-select .plus:hover {
  background: #eee;
}

.quantity-select .minus:active, .quantity-select .plus:active {
  background: #e0e0e0;
}

.quantity-select .minus:before, .quantity-select .plus:before {
  width: 14px;
  height: 1px;
  background: #555;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  content: "";
}

.quantity-select .plus:after {
  width: 1px;
  height: 14px;
  background: #555;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6.5px;
  margin-left: -.5px;
  content: "";
}

.quantity-select .number {
  display: block;
  text-align: center;
  margin: 0 50px;
  font-size: 12px;
  color: #888;
}

.quantity-select .plus {
  left: auto;
  right: 0;
  border: none;
  border-left: 1px #eee solid;
  border-radius: 0 21px 21px 0;
  -webkit-border-radius: 0 21px 21px 0;
}

.detail-data-title.size-1 {
  padding-top: 12px;
}

.detail-data-title.size-2 {
  padding-top: 8px;
}

/*Phones (<768px)*/

@media (max-width: 767px) {
  .detail-data-title {
    padding-bottom: 10px;
    padding-top: 0 !important;
  }
}

/**/

.main-product-slider-wrapper {
  max-width: 570px;
  margin: 0 auto;
}

.product-big-preview-entry {
  padding-bottom: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-small-preview-entry {
  max-width: 70px;
  margin: 0 auto;
  opacity: .2;
  transition: all .15s;
  -webkit-transition: all .15s;
}

.product-small-preview-entry img {
  display: block;
}

.swiper-slide-active .product-small-preview-entry {
  opacity: 1;
}

/**/

.left-right-entry {
  font-size: 0;
  white-space: nowrap;
}

.left-right-entry .preview-wrapper {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.left-right-entry .preview-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.left-right-entry .description {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  position: relative;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .left-right-entry.align-right .preview-wrapper {
    left: 55%;
  }
  .left-right-entry.align-right .description {
    left: -45%;
    padding-left: 0;
    padding-right: 30px;
  }
}

/*Phones (<768px)*/

@media (max-width: 767px) {
  .left-right-entry {
    white-space: normal;
  }
  .left-right-entry .preview-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
  .left-right-entry .description {
    width: 100%;
    padding-left: 0;
  }
}

/**/

.product-description-entry {
  border-bottom: 1px #eee solid;
  padding: 15px 0;
}

/**/

.testimonial-entry {
  border-bottom: 1px #eee solid;
  margin-bottom: 30px;
}

.testimonial-entry .preview {
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  height: auto;
}

.testimonial-entry .heading-description {
  margin-left: 60px;
  padding-top: 5px;
}

.testimonial-entry .pros, .testimonial-entry .cons {
  position: relative;
  padding-left: 30px;
}

.testimonial-entry .pros:before, .testimonial-entry .cons:before {
  width: 13px;
  height: 1px;
  background: #00b601;
  position: absolute;
  left: 0;
  top: 9px;
  content: "";
}

.testimonial-entry .pros:after {
  width: 1px;
  height: 13px;
  background: #00b601;
  position: absolute;
  left: 6px;
  top: 3px;
  content: "";
}

.testimonial-entry .cons:before {
  background: #cd2706;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 11 - PRODUCT SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.row.nopadding .swiper-container {
  padding-top: 1px;
  margin-top: -1px;
}

.row.nopadding .grid-products-4-items {
  margin-left: -1px;
  margin-top: -1px;
  clear: both;
}

.row.nopadding .grid-products-2-items {
  margin-left: -1px;
  margin-top: -1px;
  clear: both;
}

.product-shortcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.product-shortcode .animate-to-green, .product-shortcode .animate-to-fulltransparent {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.animate-to-green * {
  transition: none;
  -webkit-transition: none !important;
}

.product-shortcode:hover .animate-to-green {
  color: #00b601;
}

.product-shortcode:hover .animate-to-fulltransparent {
  color: rgba(255, 255, 255, .5);
}

.swiper-slide .product-shortcode:not(:first-child) {
  margin-top: -1px;
}

.swiper-slide:not(:first-child) .product-shortcode {
  border-left: none !important;
}

.row.nopadding .product-shortcode {
  margin-left: -1px;
  margin-top: -1px;
}

.product-shortcode .product-label {
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 3;
}

.product-shortcode.style-7 .product-label {
  left: 10px;
  top: 0;
}

.product-label {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  color: #fff;
  line-height: 24px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 10px;

}

.product-label.green {
  background: #00b601;
}

.product-label.red {
  background: #d80505;
}

.small-items-line {
  overflow: hidden;
}

.small-items-line>.row {
  margin-bottom: -31px;
}

.small-items-line>.row>*[class*="col"] {
  margin-bottom: 60px;
}

.small-items-line>.row>*[class*="col"]:after {
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  height: 1px;
  background: #eee;
  content: "";
}

.slider-wrapper.hidden-pixel-y:before, .slider-wrapper.hidden-pixel-y:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background: #fff;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider-wrapper.hidden-pixel-y:after {
  left: auto;
  right: 0;
}

.slider-wrapper.hidden-pixel-x .product-shortcode {
  border-top: none;
  border-bottom: none;
}

.slider-wrapper.side-borders:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #f7f7f7;
  border-right: 1px #fff solid;
  content: "";
  z-index: 2;
}

.slider-wrapper.side-borders:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #f7f7f7;
  border-left: 1px #fff solid;
  content: "";
  z-index: 2;
}

.product-shortcode.noframe {
  border: none !important;
}

/*Phones (<768px)*/

@media (max-width: 767px) {
  .row.nopadding .product-shortcode {
    margin-left: 0;
  }
}

/*shortcode 1*/

.product-shortcode.style-1 {
  border: 1px #f7f7f7 solid;
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

.product-shortcode.style-1 .title {
  /* height: 60px; */
  margin-bottom: 10px;
}

.product-shortcode.style-1 .title .product-name{
  height: 40px;
}

.product-review.small ul.star-rating li i{
  font-size: 6px;
  width: 15px;
  height: 15px;
}

.product-shortcode.style-1 .description {
  /* height: 60px; */
  overflow: hidden;
  position: relative;
  font-size: 14px;
}

.product-shortcode.style-1 .description ul{
  list-style: disc;
  padding-left: 20px;
  padding-bottom: 5px;
}

.product-shortcode.style-1 .description ul li{
  list-style: disc;
  padding-bottom: 2px;
}

.products-content .product-shortcode.style-1 .add-to-cart a.btn{
  display: block;
}

.product-shortcode.style-1 .stock{
  width: 80%;
}

.product-shortcode.style-1 .stock span{
  font-size: 14px;
}

.product-shortcode.style-1 .add-to-compare{
  padding: 10px 0;
  font-size: 14px;
}
.product-shortcode.style-1 .description .text {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-1 .description .icons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode .icons .entry {
  width: 30px;
  height: 30px;
  border: 1px #eee solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  line-height: 28px;
  color: #979797;
  transition: all .15s;
  -webkit-transition: all .15s;
  font-size: 16px;
  margin: 0 5px 5px 0;
}

.product-shortcode .icons .entry:hover {
  background: #00b601;
  border-color: #00b601;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.product-shortcode .icons .entry .fa {
  display: block;
  line-height: inherit;
}

.product-shortcode.style-1 .price {
  font-size: 20px;
  font-weight: 700;
  height: 36px;
  overflow: hidden;
  position: relative;
}

.product-shortcode.style-1 .price .simple-article {
  line-height: 18px;
}

.product-shortcode.style-1 .preview {
  position: relative;
  margin-bottom: 30px;
}

.product-shortcode.style-1 .preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-shortcode.style-1 .preview-buttons, .product-shortcode.style-7 .preview-buttons {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 0;
  width: 200px;
  height: 100%;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  background: rgba(255, 255, 255, .9);
  opacity: 0;
  z-index: 4;
}

.product-shortcode.style-1 .preview-buttons .button, .product-shortcode.style-7 .preview-buttons .button {
  min-width: 150px;
  margin-bottom: 10px;
  transition: opacity .3s, left 0s .3s;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-1 .preview-buttons .button:nth-child(2), .product-shortcode.style-7 .preview-buttons .button:nth-child(2) {
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

.color-selection {
  font-size: 0;
}

.color-selection .entry {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: bottom;
  margin: 0 3px 3px 0;
  position: relative;
  background: currentColor;
}

.color-selection .entry:before {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px currentColor solid;
  content: "";
  opacity: 0;
}

.color-selection .entry.active:before {
  opacity: 1;
}

.color-selection:after {
  content: "";
  display: block;
  margin-top: -3px;
}

.product-shortcode.style-1 .price .color-selection {
  position: absolute;
  right: 0;
  top: 3px;
}

.product-shortcode.style-1 .color-selection+* {
  margin-right: 80px;
}

.color-selection.size-1 .entry {
  width: 16px;
  height: 16px;
  margin: 0 10px 10px 0;
}

.color-selection.size-1 .entry:before {
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
}

.color-selection.size-1:after {
  margin-top: -10px;
}

/**/

.product-shortcode.style-1.big {
  padding: 60px 50px 30px 50px;
  border-color: #f7f7f7;
}

.product-shortcode.style-1.big .preview {
  margin-bottom: 60px;
}

.product-shortcode.style-1.big .title {
  margin-bottom: 0;
}

/**/

@media (min-width: 768px) {
  .products-wrapper .product-shortcode.style-1 {
    border-bottom: none;
    border-top: none;
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .products-content {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .products-wrapper {
    margin: 0 -3px;
  }
  .products-content.view-inline {
    margin-bottom: 70px;
  }
  .products-content.view-inline .row>*[class*="col"] {
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
  .products-content.view-inline .product-shortcode.style-1 {
    padding: 25px 0 30px 269px;
    margin-bottom: 0;
    border-bottom: 1px #eee solid;
    min-height: 201px;
    margin-top: 0;
  }
  .products-content.view-inline .product-shortcode.style-1 .preview {
    position: absolute;
    left: 30px;
    top: 30px;

  }
  .products-content.view-inline .product-shortcode.style-1 .title {
    height: auto;
  }
  .products-content.view-inline .product-shortcode.style-1 .price {
    height: auto;
    margin-bottom: 15px;
  }
  .products-content.view-inline .product-shortcode.style-1 .description {
    height: auto;
  }
  .products-content.view-inline .product-shortcode.style-1 .description .text {
    opacity: 1;
    margin-bottom: 10px;
    transition: none;
    -webkit-transition: none;
  }
  .products-content.view-inline .product-shortcode.style-1 .description .icons {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    position: relative;
    transition: none;
    -webkit-transition: none;
  }
  .products-content.view-inline .product-shortcode.style-1 .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

/*Phones (<768px)*/

@media (max-width: 767px) {
  .product-shortcode.style-1.big {
    padding: 25px 30px 5px 30px;
  }
  .product-shortcode.style-1.big .preview {
    margin-bottom: 30px;
  }
}

/**/

.product-shortcode.style-1.small {
  border-color: #eee;
}

.product-shortcode.style-1.small .title {
  margin-bottom: 20px;
  height: 41px;
}

.product-shortcode.style-1.small .preview {
  margin-bottom: 20px;
}

/*hover*/

.product-shortcode.style-1:hover .preview-buttons, .product-shortcode.style-7:hover .preview-buttons {
  opacity: 1;
}

.product-shortcode.style-1:hover .preview-buttons .button, .product-shortcode.style-7:hover .preview-buttons .button {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.product-shortcode.style-1:hover .description .icons {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}

.product-shortcode.style-1:hover .description .text, .product-shortcode.style-7:hover .description .text {
  opacity: 0;
}

/*shortcode 2*/

.product-shortcode.style-2 {
  border: 1px #f7f7f7 solid;
  background: #fff;
  overflow: hidden;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  padding-bottom: 100%;
  padding: 5px 15px 10px 15px;
}

.product-shortcode.style-2 span {
  display: block;
}

.product-shortcode.style-2 .preview {
  height: 145px;
  margin-bottom: 5px;
}

.product-shortcode.style-2 .preview img {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  max-height: 100%;
}

.product-shortcode.style-2 .description {
  height: 50px;
  overflow: hidden;
}

/*hover*/

.product-shortcode.style-2:hover {
  background: #343434;
}

/*shortcode 3*/

.product-shortcode.style-3 {
  border: 1px #f7f7f7 solid;
  padding: 40px 50px 50px 50px;
  text-align: center;
  background: #fff;
  overflow: hidden;
}

.product-shortcode.style-3 .swiper-container {
  margin-left: -50px;
  margin-right: -50px;
}

.product-shortcode.style-3 .swiper-container img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.product-shortcode.style-3 .products-line .line {
  height: 5px;
  background: #f7f7f7;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.product-shortcode.style-3 .products-line .line .fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #00b601;
  border-radius: inherit;
  -webkit-border-radius: inherit;
}

.product-shortcode.style-3 .description {
  height: 40px;
  overflow: hidden;
}

.product-shortcode.style-3 .preview-buttons {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 65px;
  padding-top: 15px;
}

.product-shortcode.style-3 .countdown {
  max-width: 350px;
  margin: 0 auto;
}

.product-shortcode.style-3.big {
  padding-top: 0;
  border: 1px #f7f7f7 solid;
}

.grid-products-4-items {
  background: #fff;
}

.grid-products-4-items .swiper-pagination {
  background: #fff;
  margin-top: 0 !important;
  padding-bottom: 41px;
  padding-top: 11px;
  border-bottom: 1px #f7f7f7 solid;
  bottom: 0 !important;
}

.grid-products-4-items .product-shortcode {
  border-bottom: none !important;
}

/*hover*/

@media (min-width: 992px) {
  .product-shortcode.style-3 .preview-buttons .button {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transition: all .3s;
    -webkit-transition: all .3s;
  }
  .product-shortcode.style-3 .preview-buttons .button:nth-child(2) {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
  }
  .product-shortcode.style-3 .countdown-wrapper {
    opacity: 1;
    transition: all .3s;
    -webkit-transition: all .3s;
  }
  .product-shortcode.style-3 .swiper-button-prev {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  .product-shortcode.style-3 .swiper-button-next {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  .product-shortcode.style-3:hover .preview-buttons .button {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .product-shortcode.style-3:hover .countdown-wrapper {
    opacity: 0;
  }
  .product-shortcode.style-3:hover .swiper-button-prev, .product-shortcode.style-3:hover .swiper-button-next {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}

/* Tablets (>=768px)*/

@media (max-width: 991px) {
  .product-shortcode.style-3 {
    padding: 15px;
  }
  .product-shortcode.style-3 .swiper-container {
    margin-left: -15px;
    margin-right: -15px;
  }
  .product-shortcode.style-3 .swiper-button-prev, .product-shortcode.style-3 .swiper-button-next {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  .product-shortcode.style-3 .preview-buttons {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
  }
}

/*shortcode 4*/

.product-shortcode.style-4 .preview {
  float: left;
  width: 85px;
  position: relative;
}

.product-shortcode.style-4 .preview:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px #00b601 solid;
  content: "";
  transition: all .3s;
  -webkit-transition: all .3s;
  opacity: 0;
}

.product-shortcode.style-4 .preview:hover:after {
  opacity: 1;
}

.product-shortcode.style-4 .preview img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-shortcode.style-4 .description {
  margin-left: 105px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-shortcode.style-4.rounded {
  border: none;
}

.product-shortcode.style-4.rounded .preview:after {
  display: none;
}

.product-shortcode.style-4.rounded .preview img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px #eee solid;
  transition: all .15s;
  -webkit-transition: all .15s;
}

.product-shortcode.style-4.rounded .preview:hover img {
  border-color: #00b601;
}

.product-shortcode.style-4.light {
  background: #fff;
  border-bottom: 1px #f7f7f7 solid;
  padding: 10px;
}

.product-shortcode.style-4.light .preview {
  width: 90px;
}

/*shortcode 5*/

.product-shortcode.style-5 {
  text-align: center;
  padding: 60px 30px 30px 30px;
  background: #fff;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
}

.product-shortcode.style-5 .content {
  max-width: 305px;
  margin: 0 auto;
}

.product-shortcode.style-5 .swiper-container {
  margin-left: -30px;
  margin-right: -30px;
}

.product-shortcode.style-5 .title {
  margin-bottom: 10px;

  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-5 .preview {
  position: relative;
  margin-bottom: 50px;
}

.product-shortcode.style-5 .preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-shortcode.style-5 .description {
  height: 60px;
  overflow: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-5 .price {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-5 .shortcode-rate-wrapper {
  text-align: center;
  margin-bottom: 5px;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-5:hover .shortcode-rate-wrapper {
  opacity: 0;
}

.product-shortcode.style-5 .preview-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 15px;
}

.product-shortcode.style-5 .preview-buttons .button {
  opacity: 0;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-5 .preview-buttons .button:nth-child(2) {
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
}

.product-shortcode.style-5 .swiper-button-prev {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.product-shortcode.style-5 .swiper-button-next {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.product-shortcode.style-5:hover .preview-buttons .button {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.product-shortcode.style-5:hover .swiper-button-prev, .product-shortcode.style-5:hover .swiper-button-next {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.product-shortcode.style-5 .content-animate {
  transition: all .3s;
  -webkit-transition: all .3s;
  position: relative;
}

.product-shortcode.style-5:hover .content-animate {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
}

.product-shortcode.style-5 .icons {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 10px;
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  z-index: 3;
}

.product-shortcode.style-5:hover .icons {
  top: 0;
  opacity: 1;
}

/**/

.product-shortcode.style-5.small {
  padding-top: 50px;
  padding-bottom: 25px;
  border: 1px #eee solid;
}

.product-shortcode.style-5.small .product-label {
  left: 20px;
  top: 20px;
}

.product-shortcode.style-5.small .preview {
  margin-bottom: 30px;
}

.product-shortcode.style-5.small:hover .description {
  opacity: 0;
}

.product-shortcode.style-5.small:hover .price {
  opacity: 0;
}

.product-shortcode.style-5.small:hover .title {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
}

.product-shortcode.style-5.small .preview-buttons .button {
  float: left;
  width: 50%;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0;
}

.product-shortcode.style-5.small .preview-buttons .button:before {
  display: none;
}

.product-shortcode.style-5.small .preview-buttons .button .text {
  padding-left: 0;
  padding-right: 0;
}

.product-shortcode.style-5.small .icons {
  top: auto;
  bottom: 50px;
}

.product-shortcode.style-5.small:hover .icons {
  bottom: 80px;
  opacity: 1;
}

/*shortcode 6*/

.product-shortcode.style-6 {
  text-align: center;
  padding: 50px 30px;
  background: #fff;
  border: 1px #eee solid;
  overflow: hidden;
}

.product-shortcode.style-6 .content {
  max-width: 315px;
  margin: 0 auto;
}

.product-shortcode.style-6 .title {

  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.product-shortcode.style-6 .description {
  margin-bottom: 20px;
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.product-shortcode.style-6 .preview {
  margin-bottom: 40px;
}

.product-shortcode.style-6 .preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-shortcode.style-6 .price {

  position: relative;
  z-index: 1;
}

.product-shortcode.style-6:after {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: all .3s;
  -webkit-transition: all .3s;
  opacity: 0;
}

.product-shortcode.style-6:hover:after {
  opacity: 1;
}

.product-shortcode.style-6 .preview-button {
  position: absolute;
  left: 30px;
  right: 30px;
  text-align: center;
  top: 50%;
  margin-top: 15px;
  z-index: 1;
  opacity: 0;
  transform: scale(.7);
  -webkit-transform: scale(.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-6:hover .preview-button {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

/*shortcode 7*/

.product-shortcode.style-7 {
  text-align: center;
  padding: 20px 15px 0 15px;
  background: #fff;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  overflow: hidden;
}

.product-shortcode.style-7 .title {

  margin-bottom: 10px;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-7 .title>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-shortcode.style-7:hover .title {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.product-shortcode.style-7 .preview {
  margin-bottom: 15px;
  position: relative;
}

.product-shortcode.style-7 .preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-shortcode.style-7 .price {
  transition: all .3s;
  -webkit-transition: all .3s;
  opacity: 1;
}

.product-shortcode.style-7:hover .price {
  opacity: 0;
}

.product-shortcode.style-7 .icons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-7:hover .icons {
  opacity: 1;
}

/*shortcode 8*/

.product-shortcode.style-8 {
  text-align: center;
}

.product-shortcode.style-8 .content {
  max-width: 200px;
  margin: 0 auto;
}

.product-shortcode.style-8 .preview {
  margin-bottom: 20px;
  position: relative;
  display: block;
}

.product-shortcode.style-8 .preview img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-8 .preview img:nth-child(2) {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1.2);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
  opacity: 0;
}

.product-shortcode.style-8:hover .preview img:nth-child(1) {
  opacity: 0;
  transform: scale(.7);
  -webkit-transform: scale(.7);
}

.product-shortcode.style-8:hover .preview img:nth-child(2) {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}

.product-shortcode.style-8 .title {
  margin-bottom: 5px;
}

.product-shortcode.style-8 .description {
  margin-bottom: 15px;
}

.product-shortcode.style-8 .price {
  margin-bottom: 20px;
}

/*shortcode 9*/

.product-shortcode.style-9 {
  text-align: center;
  border: 1px #eee solid;
}

.product-shortcode.style-9 .preview {
  border-bottom: 1px #eee solid;
}

.product-shortcode.style-9 .preview img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-9:hover .preview img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.product-shortcode.style-9 .title {
  margin-bottom: 10px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-9 .description {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.product-shortcode.style-9 .content {
  position: relative;
  margin: 0 -1px -1px -1px;
  background: #fff;
  padding-top: 25px;
  min-height: 116px;
}

.product-shortcode.style-9 .follow {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  transition: all .3s;
  -webkit-transition: all .3s;
  opacity: 0;
}

.product-shortcode.style-9:hover .follow {
  top: 50%;
  opacity: 1;
}

.product-shortcode.style-9:hover .title, .product-shortcode.style-9:hover .description {
  opacity: 0;
  transform: scale(.7);
  -webkit-transform: scale(.7);
}

/*shortcode 1 float content*/

@media (min-width: 992px) {
  .product-shortcode.style-1.float {
    min-height: 428px;
    padding-left: 260px;
    padding-top: 140px;
  }
  .product-shortcode.style-1.float .preview {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -100px;
  }
  .product-shortcode.style-1.float .title {
    height: auto;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 12 - BANNER SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 13 - BLOG SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 14 - TABULATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 15 - ICON DESCRIPTION SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 16 - MASONRY */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 17 - HOMEPAGE */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 18 - CONTACTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 19 - CHECKOUT */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 20 - CART */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 21 - BLOG DETAIL */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 22 - MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width:992px){
  .mobile-hide{
    display: block;
  }
  .cart-link .mobile-hide{
    display: inline-block;
  }
}
@media(max-width: 991px){
  .mobile-hide{
    display: none;
  }
  div.product-bottom .price-block .stock-data,
  div.product-bottom .price-block .add-to-cart{
    float: none;
  }

}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
.col-md-15{
  width: 50%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
        width: 20%;
        float: left;
    }
  .col-md-15{
    width: 33.33%;
    float: left;
  }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 575px){
  header .top .logo{
    text-align: center;
  }
  header .top .logo img{
    width: 150px;
  }
}
@media (min-width: 576px) {
  .container{
    min-width: 576px;
  }
}

@media (min-width: 768px) {
  .container{
    min-width: 768px;
  }
}
@media (max-width: 991px){
  .main-nav .submenu{
    display: none !important;
  }
  .hidden-mobile{
    display: none !important;
  }
}
@media (min-width: 992px) {
  .container{
    max-width: 992px;
  }
  .main-nav .submenu{
    width: 700px;
  }
  .hidden-desktop{
    display: none !important;
  }
}
@media (min-width: 1024px){
  .main-nav .submenu{
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
  }
}
